body {
  color: #212121;
}

#profile {
  text-align: center;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 100px;
}
#profile .gravatar.circle {
  border: 3px solid #607d8b;
  padding: 5px;
}
#profile #contacts {
  width: 100%;
  position: absolute;
  top: 245px;
  left: 0px;
}
#profile #contacts .mini-logo {
  background-color: white; 
  border-radius: 50%;
  border: 5px solid white;
  margin: -1px;
}
#profile #name{
  margin-top: 1.8rem
}

#projects {
  margin-top: 2rem;
}
#projects .card .card-title {
  font-size: 20px;
}
#projects .skill {
  color: #78909c;
}

